<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center"> <!-- Added text-center class here -->
        <h3 class="card-title text-center">Profile Picture</h3>
        <app-avatar></app-avatar>
      </div>
    </div>
  </div>


    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center"> <!-- Added text-center class here -->
          <h3 class="card-title">Name</h3>
          <!-- Name Section content -->
          <p *ngIf="!isNameEditMode" class="card-text">{{currentUser.name}}</p>
          <input *ngIf="isNameEditMode" [(ngModel)]="tempName" class="form-control">
          <!-- Toggles based on edit mode -->
          <default-button
            *ngIf="!isNameEditMode"
            [type]="'button'"
            [text]="'Edit'"
            [bgColor]="'#9c88ff'"
            (click)="toggleNameEditMode()"
            class="mx-auto"
          ></default-button>
          <div *ngIf="isNameEditMode" class="d-flex justify-content-center"> <!-- Center-align the buttons -->
            <button class="btn btn-success" (click)="saveName()">Save</button>
            <button class="btn btn-danger" (click)="cancelNameEdit()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center"> <!-- Added text-center class here -->
          <h3 class="card-title">Email</h3>
          <p class="card-text">{{currentUser.email}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center"> <!-- Added text-center class here -->
          <h3 class="card-title">Address</h3>
          <!-- Address Section content -->
          <p *ngIf="!isAddressEditMode" class="card-text">{{currentUser.address}}</p>
          <input *ngIf="isAddressEditMode" [(ngModel)]="tempAddress" class="form-control">
          <!-- Toggles based on edit mode -->
          <default-button
            *ngIf="!isAddressEditMode"
            [type]="'button'"
            [text]="'Edit'"
            [bgColor]="'#9c88ff'"
            (click)="toggleAddressEditMode()"
            class="mx-auto" 
          ></default-button>
          <div *ngIf="isAddressEditMode" class="d-flex justify-content-center"> <!-- Center-align the buttons -->
            <button class="btn btn-success mt-5 mr-3" (click)="saveAddress()">Save</button>
            <button class="btn btn-danger mt-5" (click)="cancelAddressEdit()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center"> <!-- Added text-center class here -->
          <h3 class="card-title">Admin Status</h3>
          <p class="card-text">
            <i class="fas" [ngClass]="{'fa-check': currentUser.isAdmin, 'fa-times': !currentUser.isAdmin}"></i>
            {{currentUser.isAdmin ? 'Yes' : 'No'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
