<div class="container">
  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center">
          <h3 class="card-title text-center">Profile Picture</h3>
          <app-avatar></app-avatar>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4" [formGroup]="profileForm"> <!-- Added formGroup here -->
      <div class="card custom-card-height">
        <div class="card-body text-center">
          <h3 class="card-title">Name</h3>
          <p *ngIf="!isNameEditMode" class="card-text">{{currentUser.name}}</p>
          <input *ngIf="isNameEditMode" formControlName="name" class="form-control">
          <div *ngIf="isNameEditMode && profileForm.get('name')?.errors">
            <small class="text-danger" *ngIf="profileForm.get('name')?.hasError('required')">Name is required.</small>
            <small class="text-danger" *ngIf="profileForm.get('name')?.hasError('minlength')">Name must be at least 3 characters.</small>
          </div>
          <default-button
            *ngIf="!isNameEditMode"
            [type]="'button'"
            [text]="'Edit'"
            [bgColor]="'#9c88ff'"
            (click)="toggleNameEditMode()"
            class="mx-auto"
          ></default-button>
          <div *ngIf="isNameEditMode" class="d-flex justify-content-center">
            <button class="btn btn-success mt-4 mx-3" (click)="saveName()">Save</button>
            <button class="btn btn-danger mt-4" (click)="cancelNameEdit()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center">
          <h3 class="card-title">Email</h3>
          <p class="card-text">{{currentUser.email}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" [formGroup]="profileForm"> <!-- Added formGroup here -->
      <div class="card custom-card-height">
        <div class="card-body text-center">
          <h3 class="card-title">Address</h3>
          <p *ngIf="!isAddressEditMode" class="card-text">{{currentUser.address}}</p>
          <input *ngIf="isAddressEditMode" formControlName="address" class="form-control">
          <div *ngIf="isAddressEditMode && profileForm.get('address')?.errors">
            <small class="text-danger" *ngIf="profileForm.get('address')?.hasError('required')">Address is required.</small>
            <small class="text-danger" *ngIf="profileForm.get('address')?.hasError('minlength')">Address must be at least 5 characters.</small>
          </div>
          <default-button
            *ngIf="!isAddressEditMode"
            [type]="'button'"
            [text]="'Edit'"
            [bgColor]="'#9c88ff'"
            (click)="toggleAddressEditMode()"
            class="mx-auto"
          ></default-button>
          <div *ngIf="isAddressEditMode" class="d-flex justify-content-center">
            <button class="btn btn-success mt-4 mx-3" (click)="saveAddress()">Save</button>
            <button class="btn btn-danger mt-4" (click)="cancelAddressEdit()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card custom-card-height">
        <div class="card-body text-center">
          <h3 class="card-title">Admin Status</h3>
          <p class="card-text">
            <i class="fas" [ngClass]="{'fa-check': currentUser.isAdmin, 'fa-times': !currentUser.isAdmin}"></i>
            {{currentUser.isAdmin ? 'Yes' : 'No'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
