<div class="parent-container">
  <!--navbar partial-->
  <app-navbar></app-navbar>
  <div class="visual-acuity-container">
    <h1 class="title">Visual Acuity Test</h1>
    <!--Canvas container start-->
    <!--Show PNG image of snellen chart-->
    <div id="canvasContainer">
      <img
        id="snellenChart"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Snellen_chart.svg/640px-Snellen_chart.svg.png"
      />
    </div>
    <!--Canvas container End-->

    <!--Buttons to zoom in and out-->
    <button id="zoomIn">Zoom In</button>
    <button id="zoomOut">Zoom Out</button>
  </div>
</div>
