/* Canvas container */
#canvasContainer {
  position: relative;
  height: 100%;
  width: auto;
  border: 1px solid black;
  overflow: auto;
}

/* Snellen Chart CSS */
#snellenChart {
  position: relative;
  width: 100%;
  height: auto;
}
.right-container{
  background-color: rgb(238, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
   border-radius: 10px;
  color: #9c88ff;
}
/* Card container styles */
.card-container {
  background-color: rgb(238, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: #9c88ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.row{
  background-color: rgb(238, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: #9c88ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Parent Container */
.parent-container {
  display: flex;
}

/* Navbar Styles */
.app-navbar {
  width: 25%;
}

/* Pupil Reflexes Test Styles */
.eye-movements-container {
  width: 75%;
}

.title {
  text-align: center;
}

/* Button Styles */
.btn-primary, .btn-secondary, .btn-tert {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #9c88ff;
  color: white;
}

.btn-primary:hover, .btn-tert:hover {
  background-color: #495057;
  cursor: pointer;
}

.btn-secondary {
  background-color: greenyellow;
  color: black;
}

.btn-tert {
  background-color: lightgray;
  color: black;
}

.container-fluid {
  display: flex;
}

.layout-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;

}

/* Styles for the navbar to make it span the full width */
.navbar {
  height: 100%;
  width: 25%;
}


.main-content {
  width: 75%;
  justify-content: center;
  align-items: center;
}
