   /* Canvas container */
   #canvasContainer {
    position: relative; /*postion canvas relative to its normal position in doc*/
    height: 100%;
    width: auto;
    border: 1px solid black;
    overflow: auto; /* Set to auto to allow for scrolling. This ensures the zoom does not go outside of the canvas */
  }

  /*Snellen Chart CSS*/
  #snellenChart {
    position: relative; /* Position the snellen chart precisely in relation to the canvas  */
    width: 100%;
    height: auto; /*Height set to auto to maintain the ratio of the image when zooming*/
  }

  
  /* Parent Container allow them to be on the same line */
  .parent-container {
    display: flex;
  }
  
  /* Navbar Styles */
  .app-navbar {
    width: 25%; /* Adjust width according to your needs */
  }
  
  /* Pupil Reflexes Test Styles */
  .eye-movements-container {
    width: 75%; /* Adjust width according to your needs */
  }
  
  .title {
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  
  /*button css*/

.btn-primary {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9c88ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #495057;
  cursor: pointer;
}

 /*button css*/

 .btn-secondary {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #495057;
  cursor: pointer;
}

 /*button css*/

 .btn-tert {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-tert:hover {
  background-color: #495057;
  cursor: pointer;
}

