/* Avatar styles */
.avatar-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container {
  height: 200px;
  width: 200px;
  max-width: 100%; /* Added this to make sure the image container fits within its parent */
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px 20px #6c93001a;
  margin: auto;
}

/* Card styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(238, 234, 234);
  color: #9c88ff;
  margin-right: 50px;
  padding: 40px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn-primary {
  background-color: #9c88ff;
  border-color: #9c88ff;
}