<div class="avatar-container">
  <div *ngIf="currentUserAvatar; else placeholder" class="image-container" [ngClass]="{'box-shadow-avatar': !!currentUserAvatar}" [ngStyle]="{backgroundImage: 'url(' + currentUserAvatar + ')'}">
  </div>

  <ng-template #placeholder>
    <div class="image-container avatar-placeholder">
      <img [src]="'assets/Avatar/default.png'"> <!-- set default directly -->
    </div>
  </ng-template>

  <div class="icon-wrapper" (click)="showAvatars = !showAvatars">
    <i *ngIf="!showAvatars" class="icon fa-solid fa-edit"></i> <!-- Edit icon -->
    <i *ngIf="showAvatars" class="icon fa-solid fa-xmark fa-xl" style="color: red;"></i> <!-- Close icon -->
  </div>

  <div *ngIf="showAvatars">
    <img [src]="avatars[currentAvatarIndex]">
    <div class="avatar-button-container">
      <button class="btn btn-primary mx-1" (click)="previousAvatar()">Previous</button>
      <button class="btn btn-primary mx-1" (click)="nextAvatar()">Next</button>
      <button class="btn btn-success mx-1" (click)="confirmAvatar()">Confirm</button> <!-- Green confirm button -->
    </div>
  </div>
</div>
