<div class="avatar-container">
  <div *ngIf="currentUserAvatar; else placeholder" class="image-container" [ngClass]="{'box-shadow-avatar': !!currentUserAvatar}" [ngStyle]="{backgroundImage: 'url(' + currentUserAvatar + ')'}">
  </div>

  <ng-template #placeholder>
    <div class="image-container avatar-placeholder">
      <img [src]="currentUserAvatar" onerror="this.onerror=null; this.src='assets/Avatar/default.png';">
    </div>
  </ng-template>

  <div class="icon-wrapper" (click)="showAvatars = !showAvatars">
    <mat-icon class="icon" fontIcon="edit"></mat-icon>
  </div>

  <div *ngIf="showAvatars">
    <img [src]="avatars[currentAvatarIndex]">
    <div class="avatar-button-container">
      <button class="btn btn-primary" (click)="previousAvatar()">Previous</button>
      <button class="btn btn-primary" (click)="nextAvatar()">Next</button>
      <button class="btn btn-primary" (click)="confirmAvatar()">Confirm</button>
    </div>
  </div>
</div>
