<!-- Container -->
<div class="container-fluid d-flex flex-md-row flex-column">
  <!-- Sidebar -->
  <div class="sidebar-container d-flex flex-column">
    <admin-navbar></admin-navbar>
  </div>
  <!-- Main Content -->
  <div class="main-content-container flex-grow-1">
    <main role="main" class="px-4">
      <h1>Average Scores and User Count Over Time for Selected Case Study</h1>
      <div class="chart-container">
        <canvas id="MyChart">{{ chart }}</canvas>
      </div>
    </main>
  </div>
</div>
