<!-- Container -->
<div class="container-fluid d-flex flex-md-row flex-column">
  <!--navbar partial-->
  <div class="d-flex justify-content-left text-center">
    <admin-navbar></admin-navbar>
 </div>
 <!-- Main Content -->
 <div class="main-content-container flex-grow-1">
   <main role="main" class="px-4">
     <h1>Average correct and incorrect answers across the different case studies</h1>

     <div class="chart-container">
       <canvas id="MyChart">{{ chart }}</canvas>
     </div>

     <div class="btn-group mt-3" role="group">
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(1)"
       >
         Last 1 Day
       </button>
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(3)"
       >
         Last 3 Days
       </button>
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(7)"
       >
         Last 7 Days
       </button>
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(30)"
       >
         Last 1 Month
       </button>
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(180)"
       >
         Last 6 Months
       </button>
       <button
         type="button"
         class="btn btn-outline-secondary"
         (click)="dateRangeChanged(365)"
       >
         Last 1 Year
       </button>
     </div>

     <!--Table-->
     <div class="mt-3">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">Case Study</th>
                  <th scope="col">Correct (%)</th>
                  <th scope="col">Incorrect (%)</th>
                  <th scope="col">Number of Tests</th> <!-- New column -->
              </tr>
          </thead>
          <tbody>
              <tr>
                  <th colspan="5">Selected Date Range: {{ dateRange }} day(s)</th>
              </tr>
              <tr *ngFor="let label of labels; index as i">
                  <th scope="row">{{ label }}</th>
                  <td>{{ correctPercentages[i] | number:"1.2-2" }}%</td>
                  <td>{{ incorrectPercentages[i] | number:"1.2-2" }}%</td>
                  <td>{{ numberOfTests[i] }}</td> <!-- Display number of tests -->
              </tr>
              <tr>
                  <th scope="row">Average</th>
                  <td>{{ calculateAverages().avgCorrect | number:"1.2-2" }}%</td>
                  <td>{{ calculateAverages().avgIncorrect | number:"1.2-2" }}%</td>
                  <td></td> <!-- Empty cell for the averages row -->
              </tr>
          </tbody>
      </table>
   </div>
   
   </main>
 </div>
</div>
