.nav-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar {
  padding: 2rem 1rem; 
}

.sidebar .navbar {
  width: 100%; 
}

.sidebar .navbar-nav {
  flex-direction: column; 
}

.sidebar .nav-item .nav-link {
  white-space: normal; 
  text-align: left; 
}
