<div class="navbar navbar-default">
  <h1 class="case-study-header">
    <a href="/admin-case-study-correct-vs-incorrect">Admin Page</a>
  </h1>
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="nav-link pl-0 text-nowrap active">
        <a routerLink="/admin-registrations-over-time"
          > <i class="fa fa-bar-chart fa-fw"></i>User Registrations Over Time</a
        >
      </li>
      <li class="nav-link pl-0 text-nowrap active">
        <a routerLink="/admin-avg-score-over-time"
          > <i class="fa fa-bar-chart fa-fw"></i>Global Average User Scores Across All Case Studies</a
        >
      </li>
  
      <li class="nav-link pl-0 text-nowrap active">
        <a routerLink="/admin-case-study-correct-vs-incorrect"
          > <i class="fa fa-bar-chart fa-fw"></i>NEW TEST - Correct Vs Incorrect for specific Case Study</a
        >
      </li>
    </ul>
  </div>
</div>
