
/* Style for the image to make it fit within its container */
#Hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Added this property */
  pointer-events: none;
}

.full-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Taking up full viewport height */
  background-color: #f5f5f5; /* light background color for contrast */
}

.parent-container {
  display: flex;
  justify-content: space-between;
  width: 95%; /* Keeping some margin on the sides for breathing room */
  max-width: 1200px; /* Max width to avoid too wide layouts on large screens */
}


.app-navbar {
  width: 25%;
  background: linear-gradient(to right, #9c88ff, #8e44ad);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Consistent rounding */
 
}


.right-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 5%; /* As from template */
  align-items: center; /* ADD this property to align items in the center */
  justify-content: center; /* ADD this property to center the content */
}

.card-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  color: #9c88ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Title Container */
.title-container {
  text-align: center; /* Center the title */
  padding: 20px 0; /* Add some vertical padding */
}

/* Title Styles */
.title {
  margin: 0; /* Reset the margin */
}


.button {
  background-color: #9c88ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 5px;
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(156, 136, 255, 0.7);
}

.text-center {
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px; /* some margin to separate the button groups */
}

@media screen and (max-width: 600px) {
  .parent-container {
    flex-direction: column;
    align-items: center;
  }

  #canvasContainer {
    width: 90vw; /* Adjusting to make it almost full width on smaller screens */
    height: 60vh;
  }
  .app-navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Space between navbar and main content on mobile */
  }

  .right-container {
    width: 100%;
  }
  .button-group {
    flex-direction: column;
  }
  
  .button-group .button {
    margin-bottom: 10px; /* Provide space between buttons when stacked vertically */
  }
}
/* Specific styles for buttons */
.button-top-right {
  top: 5%;
  left: 90%;
  width: 10%;
  height: 10%;
}

.button-top-left {
  top: 5%;
  left: 3%;
  width: 10%;
  height: 10%;
}

.button-bottom-right {
  top: 88%;
  left: 90%;
  width: 10%;
  height: 10%;
}

.button-bottom-left {
  top: 88%;
  left: 3%;
  width: 10%;
  height: 10%;
}

#canvasContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw; /* Using viewport width */
  height: 80vh; /* Using viewport height */
  max-height: 800px;
  max-width: 600px;
}

/* Style for the image to make it fit within its container */
#Hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensuring it spans the entire width of its container */
  height: 100%; /* Ensuring it spans the entire height of its container */
  object-fit: contain;  
  pointer-events: none;
}

#myCanvas {
  width: 100%; /* 100% of its container */
  height: 100%; /* 100% of its container */
}
.message-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5%;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

/* Style to limit the width of the Switch Eye button */
.default-button {
  background-color: #9c88ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  max-width: 600px;  /* Added this property */
  margin: auto;  /* Added this property */
}

.default-button:hover {
  background-color: #7158e2;
  color: white;
}


/* Button styles */
#topLeftButton {
  position: absolute;
  top: 0;
  left: 0;
}

#topRightButton {
  position: absolute;
  top: 0;
  right: 0;
}

#bottomLeftButton {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottomRightButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.rectangle {
  position: absolute;
  width: 50%;
  height: 50%;
}

#topLeft {
  top: 0;
  left: 0;
}

#topRight {
  top: 0;
  right: 0;
}

#bottomLeft {
  bottom: 0;
  left: 0;
}

#bottomRight {
  bottom: 0;
  right: 0;
}

.hoverable {
  background-color: rgba(0, 0, 255, 0.1);
}

.hoverable:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
