
<header>
  <div class="container">
    <a routerLink="/" class="logo"><i class="fa-regular fa-eye fa-1.7x"></i> Virtual Eye Clinic <i class="fa-regular fa-eye  fa-1.7x"></i> </a>
    <nav>
      <ul>
        <!--If the user is not logged in just show login-->
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <!--If the user is logged in show all services-->
        <li *ngIf="isAuth" class="menu-container">
          <div class="user-info">
          <a routerLink="/dashboard">{{user.name}}</a>
          <img [src]="userProfilePicture ?? 'assets/Avatar/default.png'" alt="User avatar">
        </div>
          <div class="menu">
            <a routerLink="/user-profile-page">Profile</a>
            <a routerLink="/user-scores">Scores</a>
            <a routerLink="/admin" *ngIf="isAdmin">Admin</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
