/*Header styles*/
header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid #9c88ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow underneath */
}

i {
  color: #9c88ff;
}

a {
  color: #9c88ff;
  font-size: 20px; /* Increase the font size for all text */
  text-decoration: none; /* Remove underlines from links */
}

a:hover,
i:hover {
  background: #9c88ff; /* Lilac color on hover */
  color: black; /* Text color becomes black on hover */
  cursor: pointer;
  border-radius: 10px; /* Add curved edges to buttons */
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 20px; /* Increase the font size for the container */
  text-align: center;
}

a.logo {
  font-weight: bold;
  padding: 1rem;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
}

a span {
  background: #9c88ff; /* Lilac color */
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 1.5rem; /* Increase the font size for the span */
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  display: none;
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.user-info {
  display: flex;
  align-items: center; /* This will align the items vertically in the middle */
}

.user-info a {
  margin-right: 10px; /* This will add a little space between the username and the picture */
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* This will make the image round */
}
