
<header>
  <div class="container">
    <a routerLink="/" class="logo"><i class="fa-regular fa-eye fa-1.7x"></i> VSE <i class="fa-regular fa-eye  fa-1.7x"></i> </a>
    <nav>
      <ul>
        <!--If the user is not logged in just show login-->
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <!--If the user is logged in show all services-->
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
