<div class="navbar navbar-default">
  <h1 class="case-study-header">
    <a routerLink="/scores">Your Scores</a>
  </h1>
  <div class="navbar-inner">
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/user-scores"
          >Past Tests</a
        >
      </li>
      <li class="active">
        <a routerLink="/userscore-score-over-time"
          >User Test Percentages Over Time</a
        >
      </li>
      <li class="active">
        <a routerLink="/user-case-study-correct-vs-oncorrect"
          >User Test Percentages Across Case Studies</a
        >
      </li>
      <li class="active">
        <a routerLink="/user-case-study-question-type-correct-vs-incorrect"
          >User Test Percentages Across Case Studies & Question Type</a
        >
      </li>
    </ul>
  </div>
</div>
