<!-- Sidebar -->
<div class="col-md-2 d-none d-md-block bg-light sidebar mr-5">
    <nav class="navbar navbar-expand-md navbar-light flex-md-column flex-row align-items-start py-2"[class.d-none]="isMobile">
    <div class="collapse navbar-collapse">
      <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
        <li class="nav-item">
          <a class="nav-link pl-0 text-nowrap" href="/admin">
            <i class="fa fa-bullseye fa-fw"></i> User Scores per
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-0 text-nowrap" href="/admin-avg-score-vs-time">
            <i class="fa fa-bar-chart fa-fw"></i> Average Scores and User Count Over Time for Selected Case Study
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>