<!-- Container -->
<div class="container-fluid d-flex flex-md-row flex-column">

  <!-- Navbar Section -->
  <div class="d-flex justify-content-left text-center">
    <app-navbar-userscore></app-navbar-userscore>
  </div>

  <!-- Main Content -->
  <div class="main-content-container flex-grow-1 right-container">

    <!-- Scores Section -->
    <div class="title-container mt-2">
      <h1 class="title">Scores over time</h1>
      <p class="graph-description">This visualization depicts the progression of test scores over various intervals, allowing users to understand and analyze trends and patterns in performance across different case studies.</p>
    </div>

    <!-- Dropdown for selecting number of tests -->
    <div class="card-container">
      <h2>Select Test Ranges:</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Case Study</th>
            <th>Start Test Number</th>
            <th>End Test Number</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let caseStudy of caseStudies">
            <!--Case study name-->
            <td>{{ caseStudy.name }}</td>
            <!--Start test number-->
            <td *ngIf="selectedTestCounts[caseStudy._id]">
              <select [(ngModel)]="selectedTestCounts[caseStudy._id].start" (change)="onDropdownChange()">
                <option *ngFor="let num of availableTestCounts[caseStudy._id]" [value]="num">{{ num }}</option>
              </select>
            </td>
            <!--End selected test number-->
            <td *ngIf="selectedTestCounts[caseStudy._id]">
              <select (change)="onDropdownChange()" [(ngModel)]="selectedTestCounts[caseStudy._id].end">
                <option *ngFor="let count of availableTestCounts[caseStudy._id]" [value]="count">{{ count }}</option>
              </select>            
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-secondary" (click)="applyAllFilters()">Apply Filters</button>
    </div>

    <!-- Chart canvas -->
    <div *ngIf="areFiltersApplied()" class="card-container">
      <div class="chart-container mt-3">
        <canvas #myChart></canvas>
      </div>

      <div *ngFor="let caseStudy of caseStudies">
        <div *ngIf="filtersApplied[caseStudy._id]">
          <h3>{{ caseStudy.name }} (Case Study #{{ caseStudy.caseStudyNumber }})</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Test Number</th>
                <th>Test Taken at</th>
                <th>Test Score</th>
                <th>Total Questions</th>
                <th>Percentage score</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let test of getTestsForCaseStudy(caseStudy._id); let index = index">
                <tr>
                  <td>{{ index + 1 }}</td>
                  <td>{{ test.createdAt | date }}</td>
                  <td>{{ test.totalScore }}</td>
                  <td>{{ totalQuestionsForCaseStudies[test.caseStudyId] }}</td>
                  <td>{{ test.totalPercentage | number:'1.0-0' }}%</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
