.container-fluid {
  padding: 0;
}

.sidebar-container,
.main-content-container {
  width: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) { /* 'md' breakpoint in Bootstrap */
  .sidebar-container {
      width: 25%;
      min-width: 200px;
      max-height: 100vh;
  }

  .main-content-container {
      width: 75%;
  }
}

.chart-container {
  height: 40vh; /* or any other percentage */
}

.app-navbar {
  width: 100%; /* To make the navbar full width in the sidebar */
}
.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content-container, .right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-container h1 {
  margin-bottom: 20px;
  color: #9c88ff;
  text-decoration: underline;
  text-align: center;
}

.card-container {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto; /* Horizontally centering the table */
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #ebe6ff; /* Lighter shade of purple for table header */
  cursor: pointer;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

button {
  background-color: #9c88ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 5px;
}

button:hover {
  background-color: #7b6bd4;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Dropdown styles */
select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
  background-color: #fff;
}

.chart-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, h1, h2, p, th, td, button {
  color: #9c88ff; /* Applying the purple color to all text elements */
}

/* Additional styles */
.btn-outline-secondary {
  background-color: transparent;
  border: 1px solid #9c88ff;
  color: #9c88ff;
}

.btn-outline-secondary:hover {
  background-color: #9c88ff;
  color: #fff;
}

