.container-fluid {
  padding: 0;
}

.sidebar-container,
.main-content-container {
  width: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) { /* 'md' breakpoint in Bootstrap */
  .sidebar-container {
      width: 25%;
      min-width: 200px;
      max-height: 100vh;
  }

  .main-content-container {
      width: 75%;
  }
}

.chart-container {
  height: 40vh; /* or any other percentage */
}