<div class="full-container">
  <!--navbar partial-->
  <app-navbar></app-navbar>
  <div class="parent-container">
    <!--eye movements container-->
    <div class="eye-movements-container">
      <!--Title-->
      <div class="title-container card-container">
        <h1 class="title">Visual Fields Test By Confrontation</h1>
      </div>

      <!--Instructions-->
      <div class="case-study-instructions card-container text-center">
        <h2>Instructions:</h2>
        <p>
          Move the mouse in order to see the back of the retina. You can adjust
          the resolution and peep hole size using your keyboard.
        </p>
      </div>

      <!--Canvas Container-->
      <div class="card-container" id="canvasContainer">
        <canvas
          #myCanvas
          id="myCanvas"
          width="600"
          height="600"
          (mousemove)="mouseMoveHandler($event)"
        ></canvas>
      </div>
    </div>
  </div>
</div>
