.custom-select {
  width: 200px; /* You can set it as per your requirement */
  height: 40px; /* You can set it as per your requirement */
  padding: 5px;
  font-size: 16px;
  line-height: 1.3;
  color: #444;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px; /* add some border radius for better appearance */
}

.container-fluid {
  padding: 0;
}

.sidebar-container,
.main-content-container {
  width: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) { /* 'md' breakpoint in Bootstrap */
  .sidebar-container {
      width: 20%;
      min-width: 200px;
      max-height: 100vh;
  }

  .main-content-container {
      width: 80%;
  }
}

.chart-container {
  height: 40vh; /* or any other percentage */
}