<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-2">
      <admin-navbar></admin-navbar>
    </div>

    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <!-- Dropdown Selector -->
      <div>
        <select [(ngModel)]="selectedCaseStudy" (change)="onCaseStudyChange(selectedCaseStudy)">
          <option *ngFor="let caseStudy of caseStudies" [ngValue]="caseStudy">
            {{ caseStudy.name }}
          </option>
        </select>
      </div>

      <!-- Main Content -->
      <main role="main">
        <h1>Average Scores and User Count Over Time for Selected Case Study</h1>
        <div class="chart-container">
          <canvas id="MyChart">{{ chart }}</canvas>
        </div>
      </main>
    </div>
  </div>
</div>
