.full-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.right-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 5%;
}

.card-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0; /* Only vertical margins */
  padding: 20px;
  color: #9c88ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.visual-acuity-container {
  position: relative;
}

#snellenChart {
  max-width: 100%;
  height: auto;
}

.title {
  margin: 0;
}

.name {
  font-size: 1.5em;
}

.message-container {
  width: 100%;
}

.btn {
  background-color: #9c88ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(156, 136, 255, 0.7);
}

.qa-section select.form-control {
  width: 80%; 
  margin: 0 auto;
  margin-bottom: 10px;
  color: #333; /* Darker text for better readability */
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .full-container {
      flex-direction: column;
  }

  .right-container {
      width: 100%;
      margin-right: 0;
  }

  .card-container {
      margin: 10px 2%; /* Tiny horizontal margin for small screens */
  }

  .text-center {
      max-width: 800px;
      margin: 0 auto;
  }
}
