.card{
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

li{
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}
li .card:hover{
  border: 1px solid white;
}

ol{
  padding: 0;
}

 /* Parent Container allows for a row layout */
 .parent-container {
  display: flex;
  align-items: center;
  
}

/* Navbar Styles */
.app-navbar {
  width: 25%; /* Adjust width according to your needs */
}

/* Eye Movements Container Styles */
.eye-movements-container {
  display: flex;
  flex-direction: column;
  width: 75%; /* Adjust width according to your needs */
}

/* Title Container Styles */
.title-container {
  text-align: center; /* Center the title */
  padding: 20px 0; /* Add some vertical padding */
}

.blue-background {
  background-color: white;
  color: white;
}

.default-background {
  background-color: white; /* or whatever default background you prefer */
}
button {
  background-color: #9c88ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 5px;
  align-items: center;
}

button:hover {
  background-color: #7b6bd4;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit{
  justify-content: center;
  align-items: center;
}