<!-- Container -->
<div class="container-fluid d-flex flex-md-row flex-column">
   <!--navbar partial-->
   <div class="d-flex justify-content-left text-center">
    <app-navbar-userscore></app-navbar-userscore>
  </div>
  <!-- Main Content -->
  <div class="main-content-container flex-grow-1">
    <main role="main" class="px-4">
      <div class="card-container title-container">
        <h1 class="title">Average correct and incorrect answers across the different case studies</h1>
          <!-- Description of the graph -->
          <p class="graph-description">The graph showcases the average percentages of correct and incorrect answers for various case studies over selected time intervals.</p>
        </div>
      

      <div class="chart-container">
        <canvas id="MyChart">{{ chart }}</canvas>
      </div>

      <div class="btn-group mt-3" role="group">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(1)"
        >
          Last 1 Day
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(3)"
        >
          Last 3 Days
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(7)"
        >
          Last 7 Days
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(30)"
        >
          Last 1 Month
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(180)"
        >
          Last 6 Months
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="dateRangeChanged(365)"
        >
          Last 1 Year
        </button>
      </div>

      <!--Table-->
      <div class="mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Case Study</th>
                    <th scope="col">Correct (%)</th>
                    <th scope="col">Incorrect (%)</th>
                    <!-- Updated: Number of Tests to Total Percentage -->
                    <th scope="col">Total Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="4">Selected Date Range: {{ dateRange }} day(s)</th>
                </tr>
                <tr *ngFor="let label of labels; index as i">
                    <th scope="row">{{ label }}</th>
                    <td>{{ correctPercentages[i] | number:"1.0-0" }}%</td>
                    <td>{{ incorrectPercentages[i] | number:"1.0-0" }}%</td>
                    <!-- Updated: Display total percentage -->
                    <td>{{ (correctPercentages[i] + incorrectPercentages[i]) | number:"1.0-0" }}%</td>
                </tr>
                <!-- Add the Average row -->
                <tr>
                    <th scope="row">Average</th>
                    <td>{{ calculateAverages().avgCorrect | number:"1.0-0" }}%</td>
                    <td>{{ calculateAverages().avgIncorrect | number:"1.0-0" }}%</td>
                    <td>{{ (calculateAverages().avgCorrect + calculateAverages().avgIncorrect) | number:"1.2-2" }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>
  </div>
</div>
