<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="mb-3">About QUB Virtual Eye Clinic</h5>
        <p class="mb-0">QUB Virtual Eye Clinic is a 3D simulation for practicing clinical skills. Learn patient assessment steps and gain insights for real clinical settings. Enjoy improving your abilities with us!</p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="mb-3">Newsletter Subscription</h5>
        <form>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Email" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
          </div>
        </form>
      </div>

      <div class="col-lg-4">
        <h5 class="mb-3">Legal</h5>
        <ul class="list-unstyled">
          <li><a href="/terms">Terms &amp; Conditions</a></li>
          <li><a href="/privacy">Privacy Notice</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <span>&copy; 2023 QUB Virtual Eye Clinic</span>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/contactus">Contact Us</a></li>
        <li class="list-inline-item"><a href="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>
