/* Parent Container allows for a row layout */
.parent-container {
  display: flex;
  padding: 2em;
  background-color: white;
}

/* Navbar Styles */
.app-navbar {
  width: 25%; /* Adjust width according to your needs */
}

/* Right Container allows for a column layout */
.right-container {
  margin-left: 10%;
  align-items: center; /* Center align items horizontally */
  justify-content: center; /* Center align items vertically */
  display: flex;
  flex-direction: column;
  width: 75%; /* Adjust width according to your needs */
}

.case-study-details {
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #9c88ff;
}

.case-study-image {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.card {
  background-color: rgb(238, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: #9c88ff;
}

.name {
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .parent-container {
    flex-direction: column;
  }
  
  .app-navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
